version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wedding-site
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    # Mapear variáveis de ambiente do .env se necessário
    env_file:
      - .env.local

